page-login {
    ion-content{
        background-image: url('../assets/imgs/fondo-login.png');
        -webkit-background-image: url('../assets/imgs/fondo-login.png');
    }
    .inputlogin{
        opacity: 0.8;
    }
}
