page-viaje {

    ion-toolbar{
        ion-icon{
            color: color($colors, light);
        }
        span{
            font-size: 18px;
            color: color($colors, light);
        }
    }
}
